<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DropBox-JP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3844A40E1CF3F1D70000E81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3844A4221CF3F1D70000E81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3844A42D1CF3F1D70000E81A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
